@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo:wght@100;400;800&family=Roboto+Mono:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

/*
 
font-family: 'Anton', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Roboto Mono', monospace;

*/
body{
  background-color: #E1E5F2;
}

.dashboard {
  display: flex;
  width: 100%;
  font-family: 'Exo', sans-serif;
}


.menu {
  position: fixed;
  z-index: 2;
  width: 250px;
  min-width: 250px;
  height: 100%;
  background-color: #152039;
  color: #fff;
  padding: 20px;
  box-shadow: 3px 2px 30px #1b50d8
}

.logo {
  margin-bottom: 30%;
}

.logo img{
  width: 90%;
  margin-left: 5%;
}

.conteudo {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.topo-user {
  background-color: #141f38;
  width: 100%;
  padding: 2% 0;
  color: #fff;
  border-bottom: solid 2px #cb6600;
}

.menu ul li {
  margin-bottom: 10%;
  transition: color 2s ease, background-color 1s ease;
  border-bottom: solid 1px #f2f2f2;
}

.menu ul li:hover {
  color: #1b50d8;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.menu ul li a {
  padding: 4%;
  color: #f2f2f2;
  font-family: 'Anton', sans-serif;
  text-decoration: none;
  display: block;
  letter-spacing: 0.5em;

}

.menu ul li:hover a {
  color: #1b50d8;
}

.user-menu {
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.user-menu span {
  margin-right: 10px;
}

.user-menu img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #fff;
}

.conteudo-principal {
  margin-left: 20%;
}

.conteudo-principal h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 2% 0;
  
}

.table-responsive {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.table {
    --bs-table-bg: #FCF7F8;
}

.imgTabela {
  width: 90%;
}

table.table th {
  vertical-align: middle;
  background-color: #1b50d8;
  color: #f2f2f2;
  text-align: center;
  font-weight: bold;
}

table.table td {
  vertical-align: middle;
}


.tituloListar {
  text-align: end;
}

.tituloListar a {
  float: right;
  margin-bottom: 1%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 1px 20px;
  border-radius: 20px;
  border: solid 3px #141f38;
  color: #152039;
  transition: all 0.8s;
}

.tituloListar a:hover {
  background: #141f38;
  color: #f2f2f2;
  font-size: 1.1em;
}


.formServico div{
  display: flex;
  align-items: baseline;
  margin-bottom: 1%;
}

.labelServico{
  margin-left: 10%;
}

.img-fluid{
  cursor: pointer;
  width: 70%;
}

textarea{
  resize: none;
}

.buttonServico{
  float: right;
}

.buttonServico button{
  background: #1b50d8;
  border: solid thin #333;
}

.checkbox-area{
  display: inline-block;
  position: relative;
  
}

.checkbox-servico{
  opacity: 0;
  width: 40px;
  height: 40px;
}


.checkbox-novo{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #333;
  border-radius: 4px;
  margin-left: -40px;
  cursor: pointer;
}

.checkbox-servico:checked + .checkbox-novo{
  background: #1b50d8;
}

.form-control:focus{
  border-color: #1b50d8;
  box-shadow: 0 0 5px #1b50d8;
}


.col-dash{
  margin: 0 auto;
}

.card-body{
  text-align: center;
  color: #fff;
}

.card-body h6{
  font-size: 5em;
  font-weight: bold;
}

/* ATUALIZAR */

.form-switch .form-check-input {
  margin-left: 0.4em;
}

label{
  color: #141f38;
}